body
{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.navbar-brand
{
    font-size: 2em !important;
    letter-spacing: 5px;
}
.nav-link
{
    font-size: 1.5em !important;
    letter-spacing: 3px;
}
.black-section
{
  background-color: #2e2d2b;
  color: white;
}
.masthead-avatar
{
    margin-top: 200px;
    height: 300px;
    width: 300px;
}
.masthead-heading
{
   font-size: 2.5em;
   letter-spacing: 5px;
}
.masthead-subheading
{
    letter-spacing: 15px;
    border-top: 5px solid #fff;
    margin-bottom: 100px;
    font-size: 2em;
}
h2
{
    font-size: 2.5em !important;
}
.lead
{
    font-size: 1.5em !important;
}
.icons
{
    font-size: 5em;
}
.contact-informations
{
    font-size: 2em;
}
@media (min-width: 768px) 
{
    .card-img-top
    {
       width: 100%;
       height: 15vw;
       object-fit: cover;
    }
}
